.postCard {
    border: .25vw solid black;
    padding: .5vw;
    margin: .5vw;
}

.postButtons {
    display: flex;
}
.postButtons Button {
    margin: .1vw;
}

.postDetailsLink {
    color: white;
    text-decoration: none;
}